<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="./renderer.js"></script>
    <title>Where's the title?</title>
</head>
<body>
    <h1>Electron Screen Sharing</h1>
    <div id="content"></div>
    <button id="startSharing">Start</button>
    <button id="stopSharing">Stop</button>

    <button id="sourceSelBtn">Video Source</button>
    <div id="sources"></div>
    <footer>Developed by Druker Antonio</footer>
</body>
</html>