body {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
}

.share-card-img {
  width: 100%;
}

.vid-sources {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

/* .thumbnail:hover {
  background-color: #bbb;
  width: 250px;
} */
