body {
  width: 100%;
}

.hide-scrollbars {
  overflow: hidden;
}

.fullscreen {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  overflow: auto;
  background: black !important;
  z-index: 2;
  margin-bottom: 0px !important;
}

.control-bar-parent {
  position: relative;
}

.control-bar {
  position: absolute;
  z-index: 999;
  color: white;
  background-color: rgba(5%, 5%, 5%, 25%);
  width: 720px;
  margin: 0.75rem;
  left: 20%;
  bottom: 0px;
  text-align: end;
}

video {
  width: 720px;
  height: 480px;
}

#joinRoomBtnId {
  position: relative;
  top: 38%;
  width: 20%;
}

.share-card-img {
  width: 100%;
}

.vid-sources {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}

.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

/* .thumbnail:hover {
  background-color: #bbb;
  width: 250px;
} */